name: docker-build

on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - develop
      - master

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
            context: ./services/php
            file: ./services/php/prod.Dockerfile
            push: false
            tags: user/app:latest
            build-args: |
              PHP_VERSION=8.4
              NODE_VERSION=20
